body {
  min-height: 200px;
  padding-top: 85px;
  background: transparent;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.full {
    background: url('golden-gate-1920-1080-7578.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.panel {
	background-color: rgba(255, 255, 255, 0.8);
}